# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python

# Documentation
*.md text diff=markdown

# Data files
*.csv binary
*.joblib binary

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.py text
*.txt text
*.md text
